:root {
  --grey: #544f4a;
  --teal: rgb(129, 203, 206);
}
html {
  font-family: "Noto Sans", sans-serif;
}
/* Turn the header into a flexbox and set size and background */
header {
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-top: 25px;
  padding-bottom: 2em;
}
/* my name on top left */
h1 {
  color: var(--grey);
  font-size: 60px;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: var(--teal);
}
.nav-list {
  padding-top: 1.3em;
  color: var(--teal);
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  width: 700px;
  flex-basis: 30px;
  flex-shrink: 2;
  flex-grow: 2;
}
.navigation {
  color: var(--teal);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-color: var(--teal);
  border-bottom-width: 5px;
  text-decoration: none;
}
.navigation:hover {
  color: seashell;
  border-color: seashell;
  transition: 1s;
}
/* a figure containing a large background and subtext */
.background-pic {
  display: flex;
  height: 400px;
  background-image: url(https://besthqwallpapers.com/img/original/92390/4k-triangles-textures-gray-triangles-geometry-gray-backgrounds.jpg);
  background-size: cover;
  justify-content: flex-end;
}
.top-subtext {
  margin-bottom: 40px;
  margin-right: 30px;
  padding: 20px;
  font-size: 40px;
  font-weight: 200;
  display: inline-block;
  align-self: flex-end;
  color: #414a40;
  background-color: var(--teal);
}
/* a span for and in subtext */
.and {
  font-weight: 600;
  border-style: solid;
  border-bottom-width: 5px;
}

.about {
  display: flex;
  color: var(--grey);
  margin-top: 1.5em;
}
/* some styles for all headings */
.title-about,
.title-project,
.title-contact {
  display: inline-block;
  font-size: 3em;
  border-style: solid;
  border-color: var(--grey);
  border-right-width: 5px;
  max-width: 10%;
  padding: 1.5em;
}
/* styles for all of about me section */
.title-about {
  padding: 1.5em;
  max-width: 185px;
}
.about-p {
  margin: auto;
  max-width: 40em;
  padding-left: 1.2em;
  font-size: 2.5em;
  display: inline;
  line-height: 2em;
}
.projects {
  color: var(--grey);
  margin-top: 2em;
  display: flex;
}
.title-project {
  padding: 1.65em;
}
.project-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project {
  font-size: 3em;
  padding: 2em 4.5em 1.5em 0;
  border-style: solid;
  border-width: 10px;
  border-color: var(--teal);
  margin: 30px;
  line-height: 50px;
  opacity: 0.5;
}
.project .project-child {
  padding: 25px;
  background-color: var(--teal);
  max-width: 300px;
  opacity: 1;
}
.project-sub {
  font-size: 25px;
}
/* all background images for projects */
#project-1 {
  padding: 7em 4.5em 1.5em 0;
  background-image: url(http://2.bp.blogspot.com/_Lrw-o6DDrH8/TTO_d_qjznI/AAAAAAAAA3o/7aeFiJRtF0A/s1600/arcreactor.jpg);
  background-size: cover;
  flex-basis: 1100px;
}
#project-2 {
  background-image: url(https://eurobond-adhesives.co.uk/wp-content/uploads/2020/11/Question-Mark-scaled.jpg);
  background-size: cover;
  flex-basis: 350px;
}
#project-3 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLOeUkK_GqGNZYUf2Jah9dsOsIdxLMC2DXfA&usqp=CAU);
  background-size: cover;
  flex-basis: 350px;
}
#project-4 {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/691/365/small/navy-blue-gradient-geometric-background.jpg);
  background-size: cover;
  flex-basis: 350px;
}
#project-5 {
  background-image: url(https://img.freepik.com/free-photo/abstract-background-from-white-marble-texture-wall-luxury-backdrop_28586-1070.jpg?size=626&ext=jpg&ga=GA1.2.964259981.1623369600);
  background-size: cover;
  flex-basis: 350px;
}
#project-1:hover,
#project-2:hover,
#project-3:hover,
#project-4:hover,
#project-5:hover {
  opacity: 1;
  transition: ease-in 1s;
  transition: ease-out 1s;
}
.title-contact {
  max-width: 185px;
  padding: 0.95em;
}
.contacts {
  margin-top: 15px;
  color: var(--grey);
}
.contact-info {
  display: inline-flex;
  min-width: 80%;
  font-size: 35px;
  align-items: center;
  justify-content: space-evenly;
}
.contact-object {
  margin-left: 3%;
  margin-right: 3%;
  border-style: solid;
  border-color: var(--teal);
  border-bottom-width: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
#linkedin {
  color: var(--grey);
  text-decoration: none;
}
@media (max-width: 1270px) {
  header {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  h1 {
    display: block;
  }
  .nav-list {
    background-color: var(--grey);
    display: block;
  }
  .background-pic {
    padding-top: 40px;
  }
  .about {
    display: block;
  }
  /* setting headings to a column layout */
  .title-about,
  .title-project,
  .title-contact {
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    font-size: 2em;
    max-width: 100%;
    border-right-width: 0px;
    border-bottom-width: 10px;
  }
  .about-p {
    display: block;
    font-size: 1.5em;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
  /* making projects fit mobile */
  .project,
  #project-1 {
    padding: 3em 1.3em 1.2em 0;
    max-width: 300px;
    flex-basis: 200px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    padding-top: 1em;
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .contact-object {
    padding: 0.2em 0.2em 0.1em 0.2em;
    border-bottom-width: 5px;
  }
 }
